table {
  border-collapse: collapse;
}

td, th {
  padding: 1rem;
  border-top: .05rem solid black;
  margin: 0;
}

*:focus {
  outline: 2px solid green;
  outline-offset: 2px;
}

tbody tr:nth-child(odd) {
  background-color: #ebf3fcca; /* Light grey background for even rows */
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.toolbar {
  display: flex;
  font-size: 1.5rem;
  margin: 0;
}

.toolbar > * {
  width: 100%;
  padding: 1rem;
}

.selectable-table tr.selected {
  background-color: lightgray;
}

.selectable-table tbody tr:hover {
  background-color: rgb(228, 219, 219);
  cursor: pointer;
}

.selectable-table tbody tr.disabled:hover {
  cursor: not-allowed;
  pointer-events: all !important;
}

.available {
  display: flex;
  line-height: 0;
}

.available-dot {
  color: rgb(0, 184, 0); 
  font-size: 35px;
}

.table-container {
  border: 1px solid black;
}