.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

[type="checkbox"]:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.checkbox--container {
  width: 100%;
}

.hint--container {
  text-align: left;
}
